.card {
  /* background-color: rgb(28, 31, 32); */
  /* box-shadow: rgba(0, 24, 34, 0.12) 0px 26px 44px 0px,
              rgba(0, 0, 0, 0.13) 0px 7px 13px 0px; */
  color: azure;
  border-radius: 10%;
  border: 1px solid green !important;

  background: rgb(26, 38, 48, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  /* border: 1px solid rgba(255, 255, 255, 0.44); */
}

